:root {
  --primaryColor1: #0c4160;
  --secondaryColor: #738fa7;
  --font1: "Outfit", sans-serif;
  --font2: "Merriweather", serif;
}
main h1{
    font-family: var(--font2);
    color: var(--secondaryColor);
}
.gallery img{
    width: 100%;
    height: 100%;
}
.gallery {
 display: grid;
 grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
 grid-template-rows: repeat(auto,50px);
 grid-gap: 5px;
 place-content: center;
}
.pic1{
    grid-row: span 8;
    grid-column: span 8;
}
.pic2{
    grid-column: span 6;
    grid-row: span 4;
}
.pic3{
    grid-column: span 6;
    grid-row: span 4;
}
.pic4{
    grid-column: span 6;
    grid-row: span 4;
}
.pic5{
    grid-column: span 6;
    grid-row: span 4;
}
.pic6{
    grid-column: span 7;
    grid-row: span 6;
}
.pic7{
    grid-column: span 7;
    grid-row: span 6;
}
.pic8{
    grid-column:span 7;
    grid-row: span 6;
}
.pic9{
    grid-column: span 7;
    grid-row: span 7;
}
.pic10{
    grid-column: span 7;
    grid-row: span 5;
}
.pic11{
    grid-column: span 7;
    grid-row: span 7;
}