:root {
  --primaryColor1: #0c4160;
  --secondaryColor: #738fa7;
  --font1: "Outfit", sans-serif;
  --font2: "Merriweather", serif;
}
* > a {
  user-select: none;
}
*::selection {
  background-color: var(--secondaryColor);
}
/* Style For Loader Starts */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border-top: 16px solid var(--primaryColor1);
  border-left: 16px solid var(--primaryColor1);
  border-bottom: 16px solid var(--secondaryColor);
  border-right: 16px solid var(--secondaryColor);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
/* Style for lader ends */

/* Animation for Loader Starts */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#myDiv {
  display: none;
}
/* Animation for loader ends */

/* Style for brand Name */
nav {
  background-color: white;
  height: 11vh;
}
@media screen and (max-width: 991px) {
  nav {
    height: fit-content;
  }
}
.navbar-brand {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  transition: 1s;
  color: var(--primaryColor1);
}
/* Style for brand name ends */

/* Style for offcanvas toggle button and exit*/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  box-shadow: none;
  outline: none;
  border: none;
}
.btn-close,
.btn-close:focus,
.btn-close,
:hover {
  box-shadow: none;
  outline: none;
  border: none;
}

/* Style for toggle button ends */

/* Style for nav Link */
.nav-link {
  border: 2px solid white;
  font-family: var(--font1);
  font-weight: 700;
}
.nav-link:hover,
.nav-link:focus {
  border: 2px solid var(--primaryColor1);
}

/* Style for nav-link ends */

/* Style for Main Content starts */
main {
  height: fit-content;
  width: auto;
}

/* Landing Page styling Starts */
.landing-page {
  height: 80vh;
  width: auto;
  background-image: url("/static/img/landingpagepic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}
.landing-page > h2::selection {
  background-color: var(--primaryColor1);
}
.landing-page > h2 {
  color: white;
  text-align: center;
  font: var(--font1);
  font-size: 35px;
}
.landing-page > h2 > span {
  color: var(--secondaryColor);
  font-weight: 500;
}
.landing-page > a {
  background-color: var(--secondaryColor);
  color: white;
  padding: 15px;
  position: relative;
  animation: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: 1px solid var(--secondaryColor);
}
.landing-page > a:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--secondaryColor);
  color: white;
}
@keyframes jump {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
/* Landing Page styling Ends */

/* New arrivals Start */
#new-arrivals {
  width: auto;
  height: fit-content;
}
#new-arrivals > h2 {
  font-size: 40px;
  color: var(--primaryColor1);
  font-family: var(--font2);
  font-weight: 500;
  margin: 0;
}
#new-arrivals > p {
  font-family: var(--font1);
  font-size: 19px;
}
#new-arrivals-cont > div > div {
  background-color: white;
  height: 250px;
  box-shadow: 1px 2px 5px 0px var(--secondaryColor);
}
.new-arrivals-pic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.new-arrivals-pic1 {
  background-image: url(/static/img/new-arrivals-pic/Bag1.jpg);
}
.new-arrivals-pic2 {
  background-image: url(/static/img/new-arrivals-pic//bag2.jpg);
}
.new-arrivals-pic3 {
  background-image: url(/static/img/new-arrivals-pic//bag3.jpg);
}
.new-arrivals-pic4 {
  background-image: url(/static/img/new-arrivals-pic//bag4.jpg);
}
.new-arrivals-pic5 {
  background-image: url(/static/img/new-arrivals-pic/bag5.jpg);
}
.new-arrivals-pic6 {
  background-image: url(/static/img/new-arrivals-pic/bag6.png);
}
.new-arrivals-pic:hover {
  filter: blur(5px) !important;
  transition: 2s;
}
/* New arrivals Ends */

/* Style for Eclusive content starts */
#lucky  h2 {
  font-family: var(--font2);
  color: var(--primaryColor1);
}
#lucky  p {
  font-family: var(--font1);
  font-size: 18px;
  text-align: justify;
}
#lucky-cont {
  width: 100%;
  height: fit-content;
}
#lucky-cont >div {
  height: fit-content;
  padding: 20px;
}
.luckybutton {
  background-color: var(--secondaryColor);
  color: white;
  border: 1px solid var(--secondaryColor);
}
.luckybutton:hover{
  background-color: white;
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
}

/* Lucky Modal Starts */
.lucky-modal-body > div >div{
  height: fit-content;
  
} 
.lucky-modal-body > p{
  font-style:var(--font1);
  font-size: 24px;
}
.lucky-image {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;
  margin-bottom: 20px;
}
.lucky-image1{
  background-image:  url(/static/img/luckybag/lucky1.avif);
}
.lucky-image2{
  background-image: url(/static/img/luckybag/lucky2.avif);
}
.lucky-price > a{
  font-size:25px;
  background-color: var(--secondaryColor);
  color: white;
  padding: 10px 20px;
}
/* Lucky Modal Ends */

/* Style for Lucky content ends */
/* Style for Main Content ends */
